<!DOCTYPE html>
<html lang="en">
<head>
  <title>Advs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- D3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/providers">Providers</a></li>
    <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
    <li class="nav-item"><a class="nav-link" href="/advs">Advs</a></li>
    <li class="nav-item"><a class="nav-link" href="/viewers">Viewers</a></li>
    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="/correlations">correlation</a></li>
    <li class="nav-item"><a class="nav-link" href="/claster">cluster</a></li>
    <li class="nav-item"><a class="nav-link" href="/search">search</a></li>
  </ul>

</nav>

<div class="container">

    <h1>advs</h1>

          <div>
              {% for row in data %}
                  <div class="border p-1 m-1">
                      <form action = "/advs" method = post>
                          <p>
                            {{row.name_adv, row.description, row.products_name_product}}
                            <button name="del" type="submit" class="mh-100 del" value="{{row.name_adv}}█{{row.description}}█{{row.products_name_product}}">Delete</button>
                            <button name="edit" type="submit" class="mh-100 edit" value="{{row.name_adv}}█{{row.description}}█{{row.products_name_product}}">Edit</button>
                          </p>
                      </form>
                  </div>
              {% endfor %}
          </div>

    <form action = "/advs" method = post>
       <fieldset>
           {{ form.hidden_tag() }}
           <legend>Add a Advs</legend>
           <div style = font-size:20px; font-weight:bold; margin-left:150px;>
              <div>
                  {{ form.name_adv.label }}      {{ form.name_adv }}
                  {{ form.description.label }}      {{ form.description }}
                  {{ form.products_name_product.label }}      {{ form.products_name_product }}

              </div>

             {{ form.submit }}
          </div>

       </fieldset>
    </form>

</div>

</body>
</html>