{% extends "index.html" %}

{% block content %}

<div class="container">

    <h1>products</h1>

          <div>
              {% for row in data %}
                  <div class="border p-1 m-1">
                      <form action = "/products" method = post>
                          <p>
                          {{row.name_product, row.price, row.provider_name_provider}}
                            <button name="del" type="submit" class="mh-100 del" value="{{row.name_product}}█{{row.price}}█{{row.provider_name_provider}}">Delete</button>
                            <button name="edit" type="submit" class="mh-100 edit" value="{{row.name_product}}█{{row.price}}█{{row.provider_name_provider}}">Edit</button>
                          </p>
                      </form>
                  </div>
              {% endfor %}
          </div>

    <form action = "/products" method = post>
       <fieldset>
           {{ form.hidden_tag() }}
           <legend>Add a products</legend>
           <div style = font-size:20px; font-weight:bold; margin-left:150px;>
              <div>
                  {{ form.name_product.label }}      {{ form.name_product }}
                  {{ form.price.label }}      {{ form.price }}
                  {{ form.provider_name_provider.label }}      {{ form.provider_name_provider }}
              </div>

             {{ form.submit }}
          </div>

       </fieldset>
    </form>

</div>

</body>
</html>